$pad: max(20px, 4vmin);

@mixin frame-line {
  position: absolute;
  background-color: #fff;
  opacity: 0.5;
}

.frame {
  position: fixed;
  z-index: 10;
  left: $pad;
  right: $pad;
  top: $pad;
  bottom: $pad;
  mix-blend-mode: difference;
  pointer-events: none;
}

.frame-line-top {
  @include frame-line;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
}
.frame-line-right {
  @include frame-line;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
}
.frame-line-bottom {
  @include frame-line;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
}
.frame-line-left {
  @include frame-line;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
}
