$pad-small: 1.428rem;
$pad-medium: 1.428rem;
$pad-large: 1.428rem;

@mixin frame-line {
  position: absolute;
  background-color: #fff;
  opacity: 0.5;
}

.frame {
  position: fixed;
  z-index: 1;
  top: $pad-small;
  right: $pad-small;
  bottom: $pad-small;
  left: $pad-small;
  mix-blend-mode: difference;

  @media screen and (min-width: 600px) {
    top: $pad-medium;
    right: $pad-medium;
    bottom: $pad-medium;
    left: $pad-medium;
  }
  @media screen and (min-width: 1024px) {
    top: $pad-large;
    right: $pad-large;
    bottom: $pad-large;
    left: $pad-large;
  }
}

.frame-line-top {
  @include frame-line;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
}
.frame-line-right {
  @include frame-line;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
}
.frame-line-bottom {
  @include frame-line;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
}
.frame-line-left {
  @include frame-line;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
}
