$small: 280px;
$medium: 600px;
$large: 1024px;

.project-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 2.5rem;
  margin-top: 10rem;

  @media screen and (min-width: $medium) {
    row-gap: 1rem;
  }

  @media screen and (min-width: $large) {
    margin-top: 7rem;
    row-gap: 1.75rem;
  }
}
