$height: 3.938rem;

$main-color: black;
$accent-color: #f8da3d;
$hover-color: #bdbdbd57;

$small: 280px;
$medium: 600px;
$large: 1024px;

$pad-small: 2.956rem;
$pad-medium: 2.956rem;
$pad-large: 2.956rem;

// Layout Styles
.layout {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--c-bg);
  color: #fff;
  transition-property: background-color;
  transition-duration: 0.9s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
}

.main-content {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  mix-blend-mode: difference;
}

.inner-content {
  min-height: 100%;
  width: 100%;
  position: relative;

  top: $pad-small;
  right: $pad-small;
  bottom: $pad-small;
  left: $pad-small;

  @media screen and (min-width: $medium) {
    top: $pad-medium;
    right: $pad-medium;
    bottom: $pad-medium;
    left: $pad-medium;
  }

  @media screen and (min-width: $large) {
    display: flex;
    top: $pad-large;
    right: $pad-large;
    bottom: $pad-large;
    left: $pad-large;
  }
}

.bio {
  position: absolute;
  height: calc(100vh - (2.956rem * 2));
  display: flex;
  align-items: flex-end;
  right: calc(2.956rem * 2);

  @media screen and (min-width: $large) {
    width: 35%;
  }
}

.bio-content {
  width: 12rem;
  display: block;
  position: relative;

  @media screen and (min-width: $large) {
    width: 32rem;
    bottom: 2.956rem;
  }

  h1 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;

    @media screen and (min-width: $large) {
      font-size: 1.75rem;
      letter-spacing: 2px;
    }
  }

  p {
    color: #fff;
    font-weight: 100;
    font-size: 0.85rem;
    transition-property: background-color;
    transition-duration: 0.9s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);

    @media screen and (min-width: $large) {
      line-height: 1.7;
      font-size: 1rem;
    }
  }
}
