$main-color: hsl(0, 0%, 5%);
$accent-color: #f8da3d;
$hover-color: #bdbdbd57;

$small: 280px;
$medium: 600px;
$large: 1024px;

$pad: max(20px, 4vmin);

// Layout Styles
.layout {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $main-color;
  color: #fff;
  // white-space: nowrap;
  transition-property: background-color;
  transition-duration: 0.9s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
}

.main-content {
  display: block;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  mix-blend-mode: difference;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.inner-content {
  min-height: 100%;
  position: relative;
  transform: translate3d(0px, 0px, 0px);
}

.bio {
  position: absolute;
  height: calc(100vh - ($pad * 2));
  display: flex;
  align-items: flex-end;
  right: calc($pad * 2);
}

.bio-content {
  width: 12rem;
  display: block;
  position: relative;
  text-align: right;

  @media screen and (min-width: $large) {
    width: 32rem;
    bottom: 2.956rem;
  }

  h1 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;

    @media screen and (min-width: $large) {
      font-size: 1.75rem;
      letter-spacing: 2px;
    }
  }

  p {
    color: #fff;
    font-weight: 100;
    font-size: 0.85rem;
    transition-property: background-color;
    transition-duration: 0.9s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);

    @media screen and (min-width: $large) {
      line-height: 1.7;
      font-size: 1rem;
    }
  }
}
